<h2 id="clientsH2">Clients</h2>

<table id="clientsTable">
  <th id="clientLoginTh">Nick</th>
  <th id="clientLandmarkTh">Landmark</th>
  <th id="clientNotesTh">Notes</th>
  <% @clients.each do | client | ; next if client == current_client %>
    <tr>
      <% curr_nick = client.email.split('@').first ; new_nick = client.nick ; %>
      <% nick = (new_nick == curr_nick)? curr_nick : curr_nick + " (" + new_nick + ")"%>
      <td class="clientLoginTd">
        <%= button_to nick , edit_client_url(client) , { :class => ((client.is_admin)? 'adminLogin' : '') , :method => :get } %>
      </td>
      <td class="clientLandmarkTd">
        <% landmark_btn = button_to client.landmark , client.landmark , { :method => :get } %>
        <%= (client.landmark.empty?)? '' : landmark_btn %>
      </td>
      <td class="clientNotesTd"><%= client.notes %></td>
    </tr>
  <% end %>
</table>
