<fieldset>
<% p "_actor_fields.html.erb actor_key nil" unless ACTOR_MAP.keys.include? actor_key %>
  <% return unless ACTOR_MAP.keys.include? actor_key %>

<% p "_actor_fields.html.erb actor=" + actor_key.to_s %>
  <% actor_map = ACTOR_MAP[actor_key] %>
  <% label = actor_map[:label] %>
  <% options = actor_map[:options][:default] %>
<% p "_actor_fields.html.erb actor_map=" + actor_map.class.to_s + " label=" + label + " options=" + options.to_s %>

  <% trace_js = 'console.log("_actor_fields.html.erb onchange actor_key=' + actor_key.to_s + ' ok=" + this + "::" + this.value) ;' %>
  <% submit_js = 'submitNestedForm() ;' %>
  <% onchange_js = trace_js + submit_js %>

  <legend style="padding: 0.0em 0.2em ;"><%= label %></legend>

  <div><%= event_builder.select :kind , options , {} , { :onchange => onchange_js } %></div>

  <div class="hiddenXXX"><%= event_builder.text_field :data , { :onchange => onchange_js } %></div>
</fieldset>
