
<div id="projectFormDiv"><%= render 'events_form' %></div>

<script type="text/javascript">
window.NestedFormEvents.prototype.insertFields = function(content, assoc, link)
  { return $(content).insertBefore($(link).closest('tr')) ; }
</script>
