// Place all the styles related to the Client controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#clientH2 { text-align: center ; }
#clientsTable , #clientsTable input { width: 100% ; }
#clientLoginTh { width: 200px ; }
#clientLandmarkTh { width: 100px ; }

#projectsH2 { text-align: center ; }
#adminClientProjectsTable , #adminClientProjectsTable input { width: 100% ; }
#projectsNameTh { width: 200px ; }
#projectsDestroyTh { width: 200px ; }

#adminEditClientTable { width: 100% ; }
#adminEditClientPadTr , #client_notes { width: 100% ; }