
#headerTable { width: 100% ; background-color: #020 ; color: #0f0 ; }
#lHeaderTd , #loginTd { width: 25% ; }
#siteTitleTd { width: 50% ; text-align: center ; font-size: 2em ; }
#loginTd { white-space: nowrap ; text-align: right ; vertical-align: bottom ; }
#loginTd #navSpan , #loginTd #loginSpan { border: 1px solid #080 ; }
#adminLoginSpan { color: #f00 }