// Place all the styles related to the Project controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { font-family: Monospace ; }

table#headerTable { width: 100% ; background-color: #020 ; color: #0f0 ; }
td#lHeaderTd , td#loginTd { width: 25% ; }
td#siteTitleTd { width: 50% ; text-align: center ; font-size: 2em ; }
td#loginTd { white-space: nowrap ; text-align: right ; vertical-align: bottom ; }

h2#projectsH2 { text-align: center ; }

table#projectsTable , td.projectDescTd { width: 100% ; }
table#projectsTable td { padding: 5px ; }